 body{
    background-color: beige;
 }
 h1{
    text-align: center;
 }
 section{
   background-color: rgb(221, 193, 158);
   width: 300px;
   height: 350px;
   padding: 5px;
   margin: auto;
   border-radius: 10px;
 }
 div{
    background-color: antiquewhite;
    text-align: left;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
 }
 P#txtRodape{
    text-align: center;
 }
 p#resultado{
    text-align: left;
    padding-left: 20px;
 }